<!DOCTYPE html>
<html lang="en">
<head th:replace="header::head-tag"></head>

<body>
<nav th:replace="header::nav-tag"></nav>
<main role="main" class="container">
<div class="container content" >
    <div class="center">
        <form action="query" method="get">
            茶叶编号:<input hidden="hidden" name="tea_id" th:value="${teacode}" >
            <p  th:text="${teacode}"  >xxxxxxxx</p>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">查看</button>

        </form>
        </div>
    <a href="/" >返回首页</a>
</div>

</main>
<span th:replace="header::footer-tag"></span>

</body>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>