<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询结果</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
</head>

<body>
<div class="container content" >
    <table class="table table-striped">
        <thead>
        <th>#</th>
        <th>编号</th>
        <th>生产厂家</th>
        <th>制茶师</th>
        <th>出售商家</th>
        <th>照片</th>
        </thead>
        <tbody>
        <tr th:if="${teapkg}" >
            <td th:text="${teapkg.id}"></td>
            <td th:text="${tea.teacode}"></td>
            <td th:text="${teapkg.factory}"></td>
            <td th:text="${teapkg.master}"></td>
            <td th:text="${teapkg.seller}"></td>
            <td th:text="${teapkg.pic}"></td>
        </tr>
        </tbody>
    </table>
    <p th:if="${teapkg}" >以上为全部结果</p>
    <p th:if="${teapkg} ==null " >错误的编码</p>

</div>

</body>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>