<!DOCTYPE html>
<html lang="en">
<head th:replace="header::head-tag"></head>

<body>
<nav th:replace="header::nav-tag"></nav>
<!--内容-->
<main role="main" class="container">

<div class="container content" >
    <table class="table table-striped">
        <thead>
        <th>#</th>
        <th>编号</th>
        <th>生产厂家</th>
        <th>制茶师</th>
        <th>出售商家</th>
        <th>照片</th>
        </thead>
        <tbody>
        <tr th:if="${teapkg}" >
            <td th:text="${teapkg.id}"></td>
            <td th:text="${teapkg.teacode}"></td>
            <td th:text="${teapkg.factory}"></td>
            <td th:text="${teapkg.master}"></td>
            <td th:text="${teapkg.seller}"></td>
            <td th:text="${teapkg.pic}"></td>
        </tr>
        </tbody>
    </table>
    <p th:if="${teapkg}" >以上为全部结果</p>
    <p th:if="${teapkg} ==null " >错误的编码</p>

</div>
</main>

<span th:replace="header::footer-tag"></span>
</body>

</html>